[Desktop Entry]
Type=Application
Exec=/usr/bin/mousewheelzoom.py
Hidden=false
OnlyShowIn=GNOME;
Name=Mouse Wheel Zoom
Comment=Zoom using mouse wheel and Meta key
